@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
body {
    padding : 0;
    margin : 0;
    height : 100vh;
    font-family : Raleway;
    background-color: #ECECDF;
}

#menu {
    height: auto;
    width: 100vw;
    background-color: #1B2A46;
    color : #F06666;
    text-align : center;
    font-size : 1.5em;
    padding-top : 0.8em;
    padding-bottom : 0.8em;
}

#container {
    height : 85vh;
    width : 250px;
    border : 2px solid #1B2A46;
    margin : 20px;
}

#caracteristiques{
    padding : 13px;
    border-bottom : 2px solid #1B2A46;
}

#ajouter {
    margin-left : 70px;
    color: green;
}

#legendes {

}

.legende {
    margin-top : 20px;
}

.selector{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.statistics {
    margin : 15px;
}


